<div id="cart" class="btn-group btn-block shopping_cart">
  <a data-loading-text="{{ text_loading }}" class="btn-group top_cart dropdown-toggle" data-toggle="dropdown">
    <div class="shopcart">
    <span class="handle pull-left"></span>
		<h3 class="title-mod">
			My cart    
		</h3>
		<span class="number total-shopping-cart cart-total-full"><span class="items_cart">{{ product_count }}</span><span class="items_cart2">item(s)</span><span class="items_carts"> - {{ prices }}</span></span>
		<span class="text total-shopping-cart cart-total-full"><span class="items_cart">{{ product_count }}</span><span class="items_cart2">item(s)</span><span class="items_carts"> - {{ prices }}</span></span>
    </div>
  </a>
  
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center">
            <a onclick="cart.remove('{{ product.cart_id }}');" class="fa fa-trash-o" style="padding:3px;"></a>
          </td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div class="checkout clearfix">
        <a href="{{ cart }}" class="btn btn-view-cart inverse">{{ text_cart }}</a>
        <a href="{{ checkout }}" class="btn btn-checkout pull-right">{{ text_checkout }}</a>        
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
